@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
    body {
        color:#333;
        box-sizing: border-box;
    }
    h1,h2,h3{
    font-family: 'PT Serif', serif;
    }
    p{
    font-family:'Josefin Sans', sans-serif;
    }

    button{
    font-family:'Josefin Sans', sans-serif;
    }

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;

    }

    a {
        text-decoration: none;
    }

    header {
        background-image: url(aboutUs-bg.avif);
        background-color: #f2f2f2;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        height: 675px;
        padding: 10px 0;
        width: 100%;

    }

    nav {
        width: 100%;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family:'Josefin Sans', sans-serif;
    }

/*     .logo { */
/*         width: 100px;  *//*i don't think you need this, since you are already applying css with to the logo image itself*/
/*     } */

    .logo img {
        width: 200px;
        position:relative;
        padding-left: 50px;
        padding-top: 20px;
        }

/*         ul { */

/*         } */


        ul li {
          list-style: none;
          display: inline-block;
          position: relative;
          text-decoration: none;
          text-align: center;
          color: white;
        }
/*  trying to target only the ul .lang-menu section*/
.lang-menu li{
    padding-left: 1rem;
}
        nav .lang-menu
        {
            padding: 0rem 4rem 0rem 0rem;
        }
        nav .dropdown
        {
            padding: 1rem 0rem 0rem .5rem;
            z-index: 20;

        }
        li a {
          color: white;
        }

        li a:hover {
          color: #3ca0e7;
        }

        li:hover {
          cursor: pointer;
        }

        ul li ul {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          display: none;
        }

        ul li:hover > ul,
        ul li ul:hover {
          visibility: visible;
          opacity: 1;
          display: block;
/*             display: flex; */
/*             justify-content: right; */
/*             flex-direction: column; */
          min-width: 200px; /*this was what was causing the overflow*/s
          text-align: left;
          padding-top: 20px;
          box-shadow: 0px 3px 5px -1px #ccc;
        }

        ul li ul li {
          clear: both;
          width: 100%;
          text-align: left;
          margin-bottom: 20px;
          border-style: none;
        }

        ul li ul li a:hover {
          padding-left: 10px;
          border-left: 2px solid #3ca0e7;
          transition: all 0.3s ease;
        }

    a {
    text-decoration: none;
    &:hover {
    color: #3CA0E7;
    }
    }

     ul li ul li a
     {
     transition: all 0.5s ease;
     }
    .secure-section{
    margin-top: 100px;
    }
    .top-h1{
    text-align: center;
    padding-top: 12rem;
    font-size: 5rem;
    color: white;
    }
    .bolded{
    text-align:center;
    margin-top: -23px;
    font-weight:700;
    color:white;
    }
    .partner-section{
    background-color: rgb(248,247,239);
    }

    .who-text h1, .partner-section h1, .team-section h1{
    text-align: center;
    padding-top: 2rem;
    }
    .who-text p, .team-section p, .who-text1 p{
    text-align: center;
    }

    .who-text1 p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    }

    .partner-section img{
    width: 15rem;
    }
    .partner-img{
    padding-left: 15rem;
    }
    .phillips-img{
    margin-left: -4rem;
    }
    .hmd-img{
    margin-left: -2rem;
    }
    .team-section{
    padding-bottom: 2rem;
    }