*{
scroll-behavior: smooth;
}
body{
background-color: rgb(35,18,37);
color: white;
}
nav{
display: flex;
justify-content: center;
align-items: center;
gap: 23rem;
width: 100%;
height: 100px;
font-family: system-ui;
}

nav .logo{
font-size: 2rem;
color: white;
font-family: system-ui;
}

ul{
text-transformation: uppercase;
list-style-type: none;
}

nav ul{
display:flex;
justify-content: center;
align-items: center;
gap: 0 35px;
font-size: 1.2rem;
}

nav a{
color: white;
text-decoration:none;
}

nav a:hover{
border-bottom: 2px solid rgb(161, 125,252);
transition: 1s;
}
nav img{
width: 2rem;
}

.content{
display: flex;
justify-content: center;
align-items: center;
gap: 0px 400px;
font-family:system-ui;
}

.content img {
width:25rem;
transform: translateY(0px);
animation: float 6s ease-in-out infinite;
border-radius: 50%;
margin-right: 200px;
}

/* Typewriter effect 1 Front-end Developer*/
@keyframes typing {
  0%, 1% { content: ""; }
  2%, 3% { content: "F|"; }
  4%, 5% { content: "Fr|"; }
  6%, 7% { content: "Fro|"; }
  8%, 9% { content: "Fron|"; }
  10%, 11% { content: "Front|"; }
  12%, 13% { content: "Front-|"; }
  14%, 15% { content: "Front-e|"; }
  16%, 17% { content: "Front-en|"; }
  18%, 19% { content: "Front-end|"; }
  20%, 21% { content: "Front-end |"; }
  22%, 23% { content: "Front-end D|"; }
  24%, 25% { content: "Front-end De|"; }
  26%, 27% { content: "Front-end Dev|"; }
  28%, 29% { content: "Front-end Deve|"; }
  30%, 31% { content: "Front-end Devel|"; }
  32%, 33% { content: "Front-end Develo|"; }
  34%, 35% { content: "Front-end Develop|"; }
  36%, 37% { content: "Front-end Develope|"; }
  38%, 39% { content: "Front-end Developer|"; }
  40%, 100% { content: "Front-end Developer|"; }
}


.intro-text {
  --caret: current-color;
}

.intro-text::before {
  content: "";
  animation: typing 5s infinite;
}

.intro-text::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

@media (prefers-reduced-motion) {
  .intro-text::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%, 100% { content: "Front-end Developer"; }
  }

  .intro-text::before {
    content: "Front-end Developer";
    animation: sequencePopup 1.5s linear infinite;
  }
}
.aboutMe-section{
padding-top: 4rem;
text-align: center;

}
.aboutMe-section a{
text-decoration:none;
color: white;
}
/*  SKILLS SECTION*/
.skills-section{
text-align:center;
padding-bottom: 5rem;
padding-top: 5rem;
}
.skills-menu {
display: flex;
justify-content: center;
align-items: center;
gap: 5rem;
}
    .skills-menu li{
        padding-left: 1rem;
    }
        .skills-section ul li {
          list-style: none;
          display: inline-block;
          position: relative;
          text-decoration: none;
          text-align: center;
        }

        .skills-section .skills-menu
        {
            padding: 0rem 4rem 0rem 0rem;
        }
        .skills-section .dropdown
        {
            padding: 1rem 0rem 0rem .5rem;
            z-index: 20;

        }
        .skills-section li a {
          color: black;
        }

        .skills-section li a:hover {
          color: #3ca0e7;
        }

        .skills-section li:hover {
          cursor: pointer;
        }

        .skills-section ul li ul {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          display: none;
        }

        .skills-section ul li:hover > ul,
        .skills-section ul li ul:hover {
          visibility: visible;
          opacity: 1;
          display: block;
/*             display: flex; */
/*             justify-content: right; */
/*             flex-direction: column; */
          min-width: 200px; /*this was what was causing the overflow*/s
          text-align: left;
          padding-top: 20px;
        }

        .skills-section ul li ul li {
          clear: both;
          width: 100%;
          text-align: left;
          margin-bottom: 20px;
          border-style: none;
        }

        .skills-section ul li ul li:hover {
          padding-left: 10px;
          border-left: 2px solid #3ca0e7;
          transition: all 0.3s ease;
        }

     .skills-section ul li ul li
     {
     transition: all 0.5s ease;
     }
    .secure-section{
    margin-top: 100px;
    }
}
/* portfolio section */
/* * { */
/* 	box-sizing: border-box; */
/* } */

/* body { */
/* 	font-family: Lato, sans-serif; */
/* 	margin: 0; */
/* 	padding: 1rem; */
/* 	min-height: 100vh; */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* 	background: rgba(20, 20, 20, 1); */
/* } */

.portfolio-section img {
	display: block;
	transition: transform 1000ms;
}

.portfolio-section ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 4rem;
	display: grid;
	gap: 1rem;
	max-width: 100%;
	width: 40rem;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto auto;
}

figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

figure::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	background: rgba(0, 0, 0, 0.5);
	transform-origin: center;
	opacity: 0;
	transform: scale(2);
	transition: opacity 300ms;
}

figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	padding: 1rem;
	color: white;
	font-size: 1.2rem;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

.portfolio-section a:is(:hover, :focus) figure::after {
	opacity: 1;
}

.portfolio-section a:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
}

@media (prefers-reduced-motion: no-preference) {
	figcaption {
		transform: translate3d(0, 2rem, 0);
	}

	figure::after {
		border-radius: 50%;
		opacity: 1;
		transform: scale(0);
		transition: transform 900ms;
	}

	.portfolio-section a:is(:hover, :focus) figure::after {
		transform: scale(2.5);
	}

	.portfolio-section a:is(:hover, :focus) figcaption {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: opacity 600ms 400ms, transform 600ms 400ms;
	}

	.portfolio-section a:is(:hover, :focus) .portfolio-section img {
		transform: scale(1.2);
	}
}
/*  Contact me section */
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

label {
  display: block;
  margin: 0.5rem 0;
}

.contact-section div{
text-align: center;
 border-radius: 5px;
  background-color: rgb(26, 14, 28);
  padding-bottom: 5rem;
  padding-top: 5rem;
  }
  textarea {
  resize: vertical;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 16px;
  border: 2px solid rgb(161,126,252);
  background-color: rgb(26, 14, 28);
  }
  input[type=text], input[type=email]{
  border-radius: 4px;
    box-sizing: border-box;
    margin-top: 16px;
    border: 2px solid rgb(161,126,252);
    font-size: 20px;
    background-color: rgb(26, 14, 28);
  }
  label{
  font-size: 20px;
  }
  input[type=submit] {
    background-color: rgb(161,126,252);
    padding: 12px 20px;
  }

input[type=submit]{
      width:165px;
      height:40px;
      cursor: pointer;
      color: white;
      font-size: 17px;
      border-radius: 2rem;
      border: none;
      position: relative;
      background: rgb(161,126,252);
      transition: 0.1s;
      text-decoration: none;
      margin: 2rem;
      text-align: center;
      }
      .linkedin-btn button{
      width:220px;
            height:40px;
            cursor: pointer;
            color: white;
            font-size: 17px;
            border-radius: 2rem;
            border: none;
            position: relative;
            background: rgb(161,126,252);
            transition: 0.1s;
            text-decoration: none;
            margin: 2rem;
            text-align: center;
      }

      input[type=submit]:hover{
      opacity: 0.8;
      }
      .linkedin-btn button:hover{
    opacity: 0.8;
      }